/*
FONTS
*/
@font-face {
  font-family: 'AFKlampenborg';
  src: url('assets/fonts/AFKlampenborg.otf') format('otf');
}

/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}

* {
  outline: 1px dotted black;
}

/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
/* Your Styles */

h1 {
  font-family: 'AFKlampenborg';
  display: flex;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 20px;
  color: white;
}

h5 {
  font-family: 'AFKlampenborg';
  display: flex;
  justify-content: center;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: -5%;
  color: white;
}

/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/*
ASIDE
*/

aside p {
  display: flex;
  justify-content: center;
  font-family: 'AFKlampenborg';
  color: white;
  background-color: #48654E;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-family: 'AFKlampenborg';
  color: white;
}

img {
  width: 100px;
  height: 100px;
}

/************
FOOTER
************/
footer {
  font-family: 'AFKlampenborg';
  text-align: center;
  color: white;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}